.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.modal-body{
    min-height: 100%;
    padding: 30px 10px;
}
.modal-content{
    background-color: #fff;
    color: #000;
    padding: 30px;
    position: relative;
    border-radius: 15px;
}
.modal-close{
    position: absolute;
    text-decoration: none;
    color: #000;
    font-size: 20pt;
    top: 5px;
    right: 15px;
}
.modal-title{
    font-size: 30pt;
    margin: 15px 0 30px 0;
}
.modal-input{
    padding: 10px 30px;
    width: 100%;
    border: 1px solid #000;
}
.modal-input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}
.modal-btn{
    border: none;
    border-radius: 8px;
    background: #f8ac28;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.1s linear;
    padding: 10px 30px;
}
.modal-btn:hover{
    background-color: rgb(226, 113, 38);
}
.modal-input-container{
    margin-bottom: 30px;
}
.modal.open{
    opacity: 1;
    visibility: visible;
}